@charset "utf-8";

body {
    color: #000000;
    font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
    list-style-type: none;
}

ul.header_menu {
  display: flex;
}
ul.header_menu li {
    margin-right : 30px;
    font-size: 1.5em;
}

ul,li{
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 90%;
    margin: 0 auto;
}

input {
    border: 1px solid #fff;
    padding: 5px;
    width: 450px;
    background-color: #fff;
    margin-bottom: 10px;
    color: #000;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="title"]:focus {
    outline: solid 1px #999999;
}
button, html [type=button] {
    -webkit-appearance: button;
    width: 30px;

textarea {
    border: 1px solid #fff;
    min-height: 150px;
    background-color: #fff;
    margin-bottom: 30px;
    color: #000;
}

table tr {
    display: block;
    
  }
  
  table th {
    width: 250px;
    text-align: left;
    vertical-align: top;
  }

  table td {
   width: auto;
  }

  .table-width {
    width: 450px;
  }

#footer {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.footerbox {
    
}
    .row {
        display: flex;
        flex-direction: column;
    }

    table tr {
        display: flex;
      
    }

}
