@charset "utf-8";
@import url("grid.css");


.header {
  height: 100vh;
  background-size: cover;
  background-image: url(../img/header-img.png);
}

.mainimg img {
    
}



.about-wrap {
  display: flex;
  justify-content: space-between;
}

.nayami {
  text-align: center;
  margin-top: 100px;
  margin-bottom:30px;
}

.nayami-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.nayami1 {
  background-image: url(../img/nayami1.png);
  width: 246px;
  height: 205px;
  padding: 50px 0px 0px 50px;
  font-size: 1.3em;
  color: #fff;
}

.nayami02 {
  background-image: url(../img/nayami02.png);
  width: 285px;
  height: 206px;
  padding: 50px 0px 0px 100px;
  font-size: 1.3em;
  color: #fff;
}
.nayami03 {
  background-image: url(../img/nayami03.png);
  width: 261px;
  height: 208px;
  padding: 50px 0px 0px 80px;
  font-size: 1.3em;
  color: #fff;
}
.nayami04 {
  background-image: url(../img/nayami04.png);
  width: 253px;
  height: 159px;
  padding: 50px 0px 0px 80px;
  font-size: 1.3em;
  color: #fff;
}
.nayami-wrap2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.nayami05 {
  background-image: url(../img/nayami05.png);
  width: 276px;
  height: 178px;
  padding: 50px 0px 0px 80px;
  font-size: 1.3em;
  color: #fff;
}

.nayami06 {
  background-image: url(../img/nayami06.png);
  width: 300px;
  height: 175px;
  padding : 50px 0px 0px 80px;
  font-size: 1.3em;
  color: #fff
}

.nayami07-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.nayami07 {
  background-image: url(../img/nayami07.png);
  width: 161px;
  height: 67px;
}

.nayami08-wrap {
  display: flex;
  justify-content: center;
  margin-bottom:30px;
}

.nayami08 {
  background-image: url(../img/nayami08.png);
  width: 80px;
  height: 28px;
}
.nayami09-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.nayami09 {
  background-image: url(../img/nayami09.png);
  width: 647px;
  height: 152px;
  padding: 50px 0px 0px 80px;
  font-size: 23px;
  color: #fff; 
}


.point {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 30px;
}

.point-wrap {
  display: flex;
  justify-content: space-between;
}

.point01 {
  background-image: url(../img/point01.png);
  width: 95px;
  height: 68px;
  padding-top: 128px;
  margin-bottom: 128px;

}
.point02 {
  background-image: url(../img/point02.png);
  width: 75px;
  height: 77px;
  padding-top: 128px;
  margin-bottom: 128px;
 
}
.point03 {
  background-image: url(../img/point03.png);
  width: 72px;
  height: 90px;
  padding-top: 128px;
  margin-bottom:128px;
  
}
.point04 {
  background-image: url(../img/point04.png);
  width: 111px;
  height: 95px;
  padding-top: 128px;
  margin-bottom:128px;
  
}
.point05 {
  background-image: url(../img/point05.png);
  width: 144px;
  height: 99px;
  padding-top: 128px;
  margin-bottom: 128px;
  
}

.point06 {
  background-image: url(../img/point06.png);
  width: 130px;
  height: 128px;
  padding-top: 128px;
  
}
.mazuha-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding: 50px;
  background: linear-gradient(to bottom, #FFFFFF, #FF8000);
  margin-bottom: 100px;
  }
.mazuha-left{
  background-image: url(../img/rainbow.png);
  width: 366px;
  height: 194px;
}
.mazuha-centaer {
  font-size: 1.3em;
  margin-top: 70px;
}
.mazuha-right{
  margin-top:100px;
  background-image: url(../img/town.png);
  width: 444px;
  height: 72px;
}

.taishousha {
  text-align: center;
}

.step-wrap {
  display: flex;
  margin-bottom: 30px;
}

.step1 {
  background-image: url(../img/step01.png);
  width: 296px;
  height: 204px;
  margin-right: 30px;
}

.step-text {
  margin-top: 50px;
}

.step02 {
  background-image: url(../img/step02.png);
  width: 318px;
  height: 193px;
  margin-right: 30px;
}

.step03 {
  background-image: url(../img/step03.png);
  width: 319px;
  height: 181px;
  margin-right: 30px;
}

.yokuaru {
  text-align: center;
  margin-bottom: 30px;
}

.yokuaru-wrap {
  background: linear-gradient(to bottom, #FFFFFF, #51bafc);
  margin-top: 100px;
  padding-bottom: 30px;
}

.map {
  text-align: center;
  margin-top: 100px;
}
.map-wrap {
  display: flex;
}
.map-right {
  width: 460px;
}

.map-right th {
  width: 120px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  padding : 5px;
}
.map-right td {
  width: 300px;
  border-bottom: 1px solid #000;
  padding: 5px;
}

.contact {
  margin-top: 100px;
  padding-top: 50px;
background: #008f28;
background: linear-gradient(0deg,rgba(0, 143, 40, 1) 0%, rgba(0, 163, 33, 1) 74%, rgba(7, 204, 0, 1) 100%);
color : #fff;
}

h2.otoi {
  text-align: center;
  margin-bottom: 30px;
}
.submit {width: 50px;}
textarea {
  width: 450px;
  height: 90px;;
  coclor: #000;
  background-color: #fff;
}

.desp {
  text-align: center;
  margin-bottom: 30px;
}
.contents {
  text-align: center;
}

.mail1 {
  text-align: left;
  padding-left: 330px;
}
.submit {
  margin-bottom: 30px;
}

.footer-box {
  display: flex;
  text-align: center;
  margin-top: 50px;
}
.box {
  text-align: left;
  width: 250px;
  margin-right: 30px;
}

/*  ハンバーガーメニュー
----------------------------------------------------*/

.hamburger {
    margin: 20px auto 0;
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
}

.hamburger .btn-gNav {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 24px;
    z-index: 12;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: all 400ms;
    transition: all 400ms;
}

.hamburger .btn-gNav span {
    position: absolute;
    width: 100%;
    height: 4px;
    background: #000000;
    border-radius: 10px;
    -webkit-transition: all 400ms;
    transition: all 400ms;
}

.hamburger .btn-gNav span:nth-child(1) {
    top: 0;
}

.hamburger .btn-gNav span:nth-child(2) {
    top: 10px;
}

.hamburger .btn-gNav span:nth-child(3) {
    top: 20px;
}

.hamburger .btn-gNav.open span:nth-child(1) {
    background: #ffffff;
    top: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.hamburger .btn-gNav.open span:nth-child(2),
.hamburger .btn-gNav.open span:nth-child(3) {
    top: 6px;
    background: #ffffff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}


.btn-gNav {
    display: none;
}

.gNav .gNav-menu {
    display: flex;
    justify-content: space-between;
}

.gNav .gNav-menu li {
    margin: 0 auto;
    padding: 0 5px;
}

/*スライダー
-------------------------------------------------------*/
.slider-2 .slick-slide {
    max-width: 100%;
    height: auto;
    margin: 0;
    position: relative;
    overflow: hidden;
  }
  .slider-2 .slick-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .slider-2 .slick-arrow {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 0;
    position: absolute;
    top: 180px;
    z-index: 1;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
  }
  .slider-2 .slick-arrow::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border: 1px solid #09000d;
    border-width: 3px 3px 0 0;
    position: absolute;
    top: 24px;
    transform: rotate(45deg);
  }
  .slider-2 .slick-next {
    right: 0;
  }
  .slider-2 .slick-prev {
    left: 0;
  }
  .slider-2 .slick-next::before {
    left: 20px;
  }
  .slider-2 .slick-prev::before {
    border-width: 0 0 3px 3px;
    right: 22px;
  }
  .dots-2 .slick-dots {
    text-align: center;
  }
  .dots-2 .slick-dots li {
    display: inline-block;
  }
  .dots-2 .slick-dots button {
    display: block;
    width: 10px;
    height: 10px;
    margin: 6px;
    font-size: 0;
    padding: 0;
    border: 0;
    outline: none;
    cursor: pointer;
    background: #bcbcbc;
    border-radius: 50%;
  }
  .dots-2 .slick-dots .slick-active button {
    background: #0a467d;
  }

  /*　スライダー END 
  -------------------------------------------------*/

/* グローバルメニュー
---------------------------------------------------*/
  .fix_menu{
    margin: auto;
    z-index: 999;
    padding: 0;
  }
  #navwrap{
  }

.tokuchou {
  padding-top: 50px;
}

  .header_menu{
    display: flex;
  }
 
  .header_menu li a{
    cursor: pointer;
    padding: 0 10px;
    text-decoration: none;
    color: #333;
  }

/* PageTop コントロール
------------------------------------------------*/

  #switch{
    display: none;
  }

  @media screen and (max-width:768px) {
    #switch ~ label {
      padding: 12px 12px;
      width: 60px;
      height: 60px;
      background: transparent;
      position: fixed;
      box-sizing: border-box;
      top: 0;
      right: 0;
      z-index: 999;
      cursor: pointer;
    }
    #switch ~ label span{
      display: block;
      width:22px;
      height:2px;
      top: 50%;
      left: 0;
      right: 0;
      margin:auto;
      background: #999999;
      position: absolute;
      -webkit-transition: 0.1s transform;
      transition: 0.1s transform;
    }
    #switch ~ label span:before,
    #switch ~ label span:after{
      content: "";
      display: block;
      background: #999999;
      position: absolute;
      width:22px;
      height:2px;
      left: 0;
      right: 0;
      margin: auto;
    }
    #switch ~ label span:before{
      top: -9px;
    }
    #switch ~ label span:after{
      top: 9px;
    }
    #navwrap{
      padding-top: 0;
      position: fixed;
      top: -100%;
      left: 0;
      width: calc(100% - 60px);
      height: 100%;
      background: rgba(0,0,0,0.8);
      transition: all 0.4s;
      padding: 60px;
      box-sizing: border-box;
    }
    #switch:checked ~ #navwrap { 
      display: block; 
      top: 0;
      width: 100%;
      z-index: 1;
    }
    .header_menu{
      display: flex;
      flex-direction: column;
    }
    .header_menu li{
      margin: 0 auto 30px;
    }
    .header_menu li a{
      color: #fff;
    }
    .scroll-prevent {
      position: fixed;
      z-index: -1;
      width: 100%;
      height: 100%;
    }
  }

  #pagetop {
    position: fixed;
    bottom: 15px;
    right: 15px;
    background-color: #000000;
  }

  #pagetop  a {
    color: #ffffff;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
  }

/* 下からふわっと現れる 
---------------------------------------------------------------*/
.fadeUp {
  -webkit-animation-name: fadeUpAnime;
          animation-name: fadeUpAnime;    /*アニメーションの名前*/
  -webkit-animation-duration: 1s;
          animation-duration: 1s;         /*アニメーションの実行時間*/
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;  /*アニメーション後、要素が表示されたままにする*/
}
@-webkit-keyframes fadeUpAnime {
  0% {
    opacity: 0;                   /*非表示*/
    -webkit-transform: translateY(100px);
            transform: translateY(100px); /*縦方向に100pxずらす*/
  }
  100% {
    opacity: 1;                   /*表示*/
    -webkit-transform: translateY(0);
            transform: translateY(0);     /*元の位置*/
  }
}
@keyframes fadeUpAnime {
  0% {
    opacity: 0;                   /*非表示*/
    -webkit-transform: translateY(100px);
            transform: translateY(100px); /*縦方向に100pxずらす*/
  }
  100% {
    opacity: 1;                   /*表示*/
    -webkit-transform: translateY(0);
            transform: translateY(0);     /*元の位置*/
  }
}
.fadeUpTrigger {
  opacity: 0;                     /*非表示*/
}

/* 右からふわっと現れる */
/* jQueryで追加・削除 */
.fadeInRight {
  -webkit-animation-name: fadeInRightAnime;
          animation-name: fadeInRightAnime; /*アニメーションの名前*/
  -webkit-animation-duration: 1s;
          animation-duration: 1s; /*アニメーションの時間を1秒に設定*/
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; /*アニメーション実行後、要素が表示されたままにする*/
}
@-webkit-keyframes fadeInRightAnime {
  0% {
    opacity: 0; /*非表示*/
    -webkit-transform: translateX(100px);
            transform: translateX(100px); /*100px分横にずれる*/
  }
  100% {
    opacity: 1; /*表示*/
    -webkit-transform: translateX(0);
            transform: translateX(0); /*元の位置*/
  }
}
@keyframes fadeInRightAnime {
  0% {
    opacity: 0; /*非表示*/
    -webkit-transform: translateX(100px);
            transform: translateX(100px); /*100px分横にずれる*/
  }
  100% {
    opacity: 1; /*表示*/
    -webkit-transform: translateX(0);
            transform: translateX(0); /*元の位置*/
  }
}
.fadeInRightTrigger {
  opacity: 0; /*非表示*/
}

/* 左からふわっと現れる */
/* jQueryで追加・削除 */
.fadeInLeft {
  -webkit-animation-name: fadeInLeftAnime;
          animation-name: fadeInLeftAnime;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes fadeInLeftAnime {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px); 
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes fadeInLeftAnime {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px); 
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.fadeInLeftTrigger {
  opacity: 0;
}

/* アコーディオン
-------------------------------------------------*/
.accordion-container {
  margin: 0 auto;
  max-width: 80%;
}
.accordion-title {
  background: #419afc;
  cursor: pointer;
  font-size: 16px;
  padding: 20px 40px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #ffffff;
}

.accordion-title:before {
  position: absolute;
  content: '';
  top: 50%;
  right: 25px;
  height: 2px;
  width: 15px;
  background: #333;
  transform: rotate(90deg);
  transition: all .3s ease-in-out;
}
.accordion-title:after {
  position: absolute;
  content: '';
  top: 50%;
  right: 25px;
  height: 2px;
  width: 15px;
  background: #333;
  transition: all .3s ease-in-out;
}

.accordion-title.open:before {
  transform: rotate(180deg);
}
.accordion-title.open:after {
  opacity: 0;
}

.accordion-text {
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  display: none;
  padding: 20px 40px;
  background-color: #FFF;
}